<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        .vl {
            border-left: 4px solid green;
            height: 600px;
        }
    </style>
</head>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <div class="mt-md-5">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3 align="center">Time for Transformation!!</h3>
                    <br>
                    <hr>
                    <p>
                        <H4>Beautiful hair begins with exceptional hair care.</H4>
                        <br><br> Roots is here to help you take care of your hair to let you have a beautiful and healthy hair tomorrow! </p>
                    <br> <br>
                    <p> Haircare is important for promoting healthy, shiny hair, and protecting it from damage and premature aging. By using the right haircare products for your hair type and concerns, you can maintain a clear, youthful lustre and feel confident
                        about yourself. </p>
                    <br>
                    <p> We help you analyse your hair condition and aid you pick what your hair deems right!</p>
                    <br>
                    <a class="nav-link" href="/store"><input type="button" class="float-center btn btn-success form-control col-sm-3" value="Go to Store"></a>
                </div>
                <div class="col-sm-6" style="padding: 100px;">
                    <h1>ROOTS HAIR CARE</h1>
                    <br>
                    <img src="https://i.ibb.co/LhLKPC4/images.png" alt="images" border="0" width="300px" />
                </div>

            </div>
        </div>

    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>